<!-- content 2.html -->
<div class="book-page ng-scope" id="page-content-wrapper">
	<div class="container-fluid ng-scope" id="book-wrapper">
		<div class="row">
			<div class="reader-container col-sm-12 col-lg-offset-1 col-lg-10 col-xl-offset-2 col-xl-8 ng-scope">
				<div  class="book-content">
					<div class="titlepage"><div><div><h2 class="title"><a id="pref05"></a>Content 2</h2></div></div></div>
					<p>Content 2 demo</p>						                      
					<div class="fade-out"></div>                        
				</div>
			</div>
		</div>
	</div>
</div>