
@font-face {
    font-family: 'Proxima_Nova_Regular';
    src: url('../fonts/proximanovasoft-regular-webfont.eot');
    src: url('../fonts/proximanovasoft-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovasoft-regular-webfont.woff2') format('woff2'), url('../fonts/proximanovasoft-regular-webfont.woff') format('woff'), url('../fonts/proximanovasoft-regular-webfont.ttf') format('truetype'), url('../fonts/proximanovasoft-regular-webfont.svg#Proxima_Nova_Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{font-family: 'Proxima_Nova_Regular',Helvetica,Arial,sans-serif; color:#303442;}
a{transition: all 0.3s ease-out 0s; color:#00baf7;}
a:hover{color:#F75352; text-decoration:none;}
a:focus {
  outline: medium none;
  text-decoration: none;
}
img{max-width:100%;}
ol, ul{list-style:none; margin:0; padding:0;}
.bkg-grey{background:#eee;}
.pdp-btn{
	background-color: #79be37;
	border-color: #79be37;
	color: #ffffff;
	font-weight: 500;
    letter-spacing: 1.08px;
    padding: 10px 25px;
	border-radius:3px;
}
.pdp-btn:hover, .pdp-btn:active, .pdp-btn:focus {
	  background-color: #81c73d;
	  border-color: #81c73d;
	  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.29), 0 6px 8px 0 rgba(0, 0, 0, 0.13);
	  color: #ffffff;
}
.pdp-btn2{
	border:1px solid #fff;
	background:transparent;
	border-radius:3px;
	font-weight: 500;
    letter-spacing: 1.08px;
    padding: 10px 25px;
	 display:inline-block;
	 color:#fff;
}
.pdp-btn2:hover, .pdp-btn2:active, .pdp-btn2:focus {
	background-color:#fff;
	color:#79be37;
}
#pdpwrapper{}
.pdp-wrapper{}
.pdp-container{padding:0 30px;}
/*		Toplinks		*/
.pdp-toplinks{
	padding: 5px 0;
}
.pdp-toplinks li{
	display: inline-block;
	margin: 0 0 0 25px;
}
.pdp-toplinks li a{
	color: #656565;
	height: 30px;
	line-height: 30px;
}
.pdp-toplinks li a:hover{color:#F75352;}
/*		Header		*/
.pdp-header.stickytop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.pdp-header{padding: 20px 0;
	background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

	-webkit-transition: all 2s; 
    -moz-transition: all 2s; 
    -o-transition: all 2s; 
    transition: all 2s;
}
.pdp-header .logo{}
.header-nav{display: inline-block; transition: all 0.3s ease-out 0s;}
.header-nav li{display: inline-block;}
.header-nav li a{
	color: #303442;
	display: block;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1.8px;
	padding: 0 30px;
	text-transform: uppercase;
	line-height:35px;
	cursor:pointer;
}
.header-nav li a:hover{color:#F75352;}
.pdp-btn-demo{
	border-color: #78be37;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	color: #78be37;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	outline: 0 none;
	padding: 10px 30px;
	position: relative;
	text-decoration: none;
	text-transform: capitalize;
	font-weight:500;
}
.pdp-btn-demo span{}
.pdp-btn-demo:hover, .pdp-btn-demo.over{
	background-color: #79be37;
	color: #ffffff;
}
.menu-sidebar-container.right {
	left:initial;
	right:-300px;
}
.menu-sidebar-container.left {
	right:initial;
	left:-300px;
}
.menu-sidebar-container {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: #303442;
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.2);
	padding:20px 0;
	float: left;
	z-index: 1000;
	transition-timing-function: ease;
	transition: all 0.3s ease-out 0s;
	font-size:18px;
	text-align:left;
}
.menu-sidebar-container li a{color:#fff; font-weight:normal;}
.menu-sidebar-left i{font-size:32px;}
.menu-sidebar-left {
	cursor: pointer;
	font-size:0; color:#78be37;  display:block;
}
.header-nav-sidebar{
	float:left;
	vertical-align:middle;
	}
	
.close-sidebar-btn.sidebar-active {
    left: -24px;
    opacity: 1;
}
.close-sidebar-btn {
  background-color: #303442;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: relative;
  top: 15px;
  transform: rotate(-45deg);
  transition: all 0.2s linear 0s;
  width: 50px;
}
.close-sidebar-btn span.tri-close {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  height: 30px;
  opacity: 1;
  position: relative;
  transform: rotate(80deg);
  transition: all 0.3s linear 0s;
  width: 30px;
}
.close-sidebar-btn span.tri-close > span::before {
  transform: rotate(80deg);
}
.close-sidebar-btn span.tri-close > span::before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: rotate(0deg);
  transition: all 0.4s ease-in 0s;
  width: 30px;
}
.close-sidebar-btn.sidebar-active .tri-close > span::after {
    transform: rotate(-80deg);
}
.close-sidebar-btn span.tri-close > span::after {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: rotate(0deg);
    transition: all 0.4s ease-in 0s;
    width: 30px;
}
.menu-sidebar-top {margin:20px 0;}
.menu-sidebar-top .pdp-btn-demo{
	display:inline-block;
	padding:5px 25px;
	background-color:#78be37;
	color:#fff;
}
.header-nav-sidebar li{display:block; padding:0 0 0 25px;}
.header-nav-sidebar li a{}
.header-nav-sidebar li li a{text-transform:capitalize; color:rgba(255, 255, 255, 0.55);}
.menu-sidebar-container > ul{height: 260px;    overflow-y: scroll;}

.menu-sidebar-container .nav-list{position:relative; }
.menu-sidebar-container .nav-list:after{
	background-color: #ffffff;
	content: "";
	display: block;
	height: 2px;
	left: 0px;
	margin-bottom: 5px;
	position: absolute;
	top: 13px;
	transition: transform 0.3s linear 0s;
	width: 12px;
	transform: rotate(0deg);
}
.menu-sidebar-container .nav-list::before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin-bottom: 5px;
  position: absolute;
  top: 13px;
  transition: transform 0.3s linear 0s;
  width: 12px;
}
.menu-sidebar-container .collapsed.nav-list:after{
  transform: rotate(90deg);
}
.menu-sidebar-container .collapsed.nav-list{
	
}

/*		Main		*/
/*	Home banner		*/

/* .home-banner{
	background-image: url("../images/home-banner.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height:auto;
	padding:90px 0;
} */

.home-banner {
	padding:10px 0 0;
	position:relative;
}

.home-banner .banner-content{
	float: none;
	position: absolute;
	top: 115px;
	max-width: 660px;
	width:auto;
	}
.banner-content h1{
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 20px;
	text-transform: none;
}
.banner-content h3{
	font-size: 19px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 20px;
}
.banner-content .pdp-btn{
	background-color: #f75352;
	display: inline-block;
	font-weight: 600;
	margin: 0 0 30px;
	padding: 15px 38px;
	text-transform: uppercase;
}
/*	Section 2		*/
.home-see-bar{
	background:#00baf7;
	padding:15px 0;
	color:#fff;
}
.home-see-bar span{
	font-size: 20px;
	line-height: 40px;
	margin: 0 10px 10px 0;
}
.home-see-bar .see-btn{
	padding: 10px 34px;
	font-weight:500;
}
.home-see-bar .see-btn:hover{background:#fff; color:#78be37; border-color:#fff;}
/*	Section 3		*/
.home-feature{padding: 60px 0; color:#656565;}
.home-feature .explore-btn{margin:25px 0 0; display: inline-block; padding-left: 35px;     padding-right: 35px;}
.home-feature-top{font-size:17px; padding-bottom: 40px;}
.home-feature-top h2{font-size:34px; margin-bottom:45px; font-weight: 300; color:#303442;}
.home-feature-list .title{font-size:26px; margin-bottom: 30px; color:#303442; font-weight:bold;}
.home-feature-list ul{}
.home-feature-list ul li{
	float: left;
	padding: 5px 0 5px 50px;
	width: 100%;
	font-size:17px;
	line-height:27px;
}
.home-feature-list ul li h4 i {
	color: #8467cb;
	font-size: 32px;
	margin: 0 15px 0 -50px;
	vertical-align: middle;
	width:35px;
}

.home-feature-list ul li h4{font-size:20px; font-weight: 400; }
.home-feature-list ul li h4 a{}
.home-feature-list ul li h4 a:hover{}
/*	Section 4		*/
.home-feature-hight .home-feature-top h2{margin-bottom:20px;}
.h-feature-card {
	background: #ffffff none repeat scroll 0 0;
	color: #303442;
	font-size: 20px;
	min-height: 183px;
	padding: 10px;
}
.home-feature-hight li > div{transition: all 0.3s ease-out 0s;}
.home-feature-hight li > div:hover{box-shadow:0 20px 40px 0 rgba(0, 0, 0, 0.22);}
.h-feature-card h5{
	color: #656565;
	font-size: 14px;
	font-weight: 600;
	margin: 20px 0 10px;
	opacity: 0.7;
	text-transform: uppercase;
}
.h-feature-card span{color:#00baf7; text-transform:uppercase; font-size:15px;}
.home-feature.home-feature-hight .explore-btn{margin-top:60px;}

/*	Section 5		*/
.home-feature.home-feature-special{color:#303442;}
.f-icon:before{font-family:fontawesome;}
.home-feature-content .f-icon:before{
	display:block;
	margin:0 0 25px 0;
	clear:both;
	font-size:95px;
}
.f-icon1 i{color:#9B94D9;}
.f-icon2 i{ color:#28BBF8;}
.f-icon3 i{ color:#F1C40F;}
.f-icon4 i{ color:#94CB5F;}
.f-icon5 i{ color:#E86D51;}
.home-feature-special .home-feature-content h1 i{
	position: absolute;
	text-align: center;
	top: -100px;
	width: 100%;
}
.home-feature-special .home-feature-content h1{
	font-size:100px;
	display: inline-block;
	margin-top: 130px;
	position: relative;
}
.home-feature-special .home-feature-content h2{
	display: inline-block;
	font-size: 60px;
	margin-top: 130px;
	position: relative;
}
.home-feature-special .home-feature-content h2 i{
	font-size: 95px;
	position: absolute;
	text-align: center;
	top: -100px;
	width: 100%;
}
.home-feature-special .home-feature-content {font-size:18px; text-transform: uppercase;}
.home-feature-special .home-feature-content li:nth-child(2n) {border-right:none;}
.home-feature-special .home-feature-content li:nth-child(n+3) {border-bottom:none;}
.home-feature-special .home-feature-content li {}
.home-feature-special .home-feature-content li {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	min-height: 280px;
}
.f-special-bg{
	align-items: center;
	background-image: url("../images/map.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-right: medium none;
	clear: both;
	display: flex;
	justify-self: center;
	min-height: 475px;
}
/*	Section 6	*/
.service-section::before {
	  background: rgba(0, 0, 0, 0) radial-gradient(circle at center center , rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 90%) repeat scroll 0 0;
	  bottom: 0;
	  content: "";
	  height: 100%;
	  left: 50%;
	  position: absolute;
	  transform: translateX(-30%);
	  width: 100%;
}
.home-service{
	background:#8464ca;
	color:#fff;
	font-weight:300;
	font-size:20px;
	line-height:35px;
	
}
.home-service-content {padding:80px 0;}
.home-service-content p {margin-bottom:20px;}
.home-service-content h2{
	margin-bottom:30px;
	font-size:34px;
	line-height:41px;
}
.home-service-img{
	height:auto;
	min-height:450px;
	bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    right: 0;
}
/*	Section 7	*/
.home-contact {
	padding: 90px 0;
	background:#00baf7;
	color:#fff;
}
.pdp-contact-top h2 {
	margin-bottom:45px;
	font-size:34px;
	line-height:41px;
}

.home-contact-request h3{font-size:26px; font-weight:600; margin-bottom:20px; margin-top: 25px; position:relative;}
.home-contact-request h3 i{
	font-size: 50px;
	position: relative;
	text-align: center;
	top: -25px;
	width: 100%;
}
.home-contact-request .pdp-btn2{}

.home-contact-request .bkg-border{
	border-right: 1px solid #ffffff;
	content: "OR";
}
.home-contact-request .bkg-border::after {
	background: #00baf7 none repeat scroll 0 0;
	bottom: initial;
	content: "OR";
	font-size: 16px;
	left: initial;
	padding: 10px 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(46%, -50%);

}


/*		Footer		*/
/*	Footer top		*/
.pdp-footer{color:#656565;}
.pdp-footer-top{ padding: 40px 0; }
.pdp-footer a{ color:#656565;}
.pdp-footer a:hover{ color:#f75352;}
.pdp-footer .small-logo{
	display: inline-block;
	margin-bottom: 20px;
	max-width: 200px;
	min-height: 15px;
}
.f-address{}
.f-address li{padding:0px 0 10px 25px; line-height:25px;  font-size: 17px; }
.f-address li i{
	margin-left: -25px;
	width: 25px;
}

.pdp-footer .f-title{margin-bottom: 20px; min-height:15px;}
.f-title h5{
	color: #303442;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.f-lists{}
.f-lists li{padding:0 0 10px 0; line-height:25px;}
.f-lists li a{color:#656565;  font-size: 17px;}
.f-lists li a:hover{color:#F75352;}
.pdp-search-wrapper{position: relative; margin:30px 0 0;}
.pdp-search-wrapper form{}
.pdp-footer form input{
	height: 48px;
	line-height: 48px;
	font-style: italic;
	font-size:17px;
}
.pdp-search-wrapper button{
	background: none;
	height: 100%;
	min-width: 45px;
	position: absolute;
	right: 0;
	top: 0;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #cccccc;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
}
.pdp-search-wrapper button:after{
	content:"\f002";
	font-family:fontawesome;
}
.subscribe-form{}
.subscribe-form button{border:none; margin: 20px 0 0;}
/*	Footer bottom		*/
.pdp-footer-bottom{
	padding: 30px 0;
}
.pdp-footer-bottom .copy-right{}
.pdp-footer-bottom ul{display: inline-block;}
.pdp-footer-bottom ul li{display:inline-block;}
.f-extra li{
	border-right: 1px solid;
	line-height: 14px;
	margin: 10px 3px 0 0;
	padding: 0 6px 0 0;
}
.f-socials li {margin: 0 0 0 15px;}
.f-socials li a {font-size:0;}
.f-socials li a i {font-size:22px;}














