@media (min-width:1280px) and (max-width:1900px){}
@media (max-width: 1200px){}
@media (min-width: 1200px){
	.partner-section-top{		max-width:920px;	}
}
@media (min-width: 1200px) and (max-width: 1290px) {
	.home-banner .banner-content {		top: 45px;	}
	.header-nav li a {	  font-size: 14px;	}
}
@media (min-width: 961px) and (max-width: 1199px) {
	.home-banner .banner-content{top:50px; max-width:590px;}
	.banner-content h1 {
	  font-size: 40px;
	  line-height: 50px;
	}
	.header-nav li a{padding:0 20px;}
	.home-banner {	  padding: 30px 0 0;	}
	.form-block {	  padding: 30px 40px;	}
	.menu-sidebar-container li a{padding:0 30px;}
	.feature-content-right .feature-content-block {	  margin:-25px 0 0 3%	}
	.partner-feature.content-no-img li a {	  min-height: 200px;	}
	 .partner-event {
	  min-height: 370px;
	}
	.partner-section-5 .right > img, .partner-section-5 .left > img{height:370px;}
}
@media (max-width: 1000px) {
	.partner-event {
	  min-height: 0;
	}
	.pricing-tab-3 .block h5 {
	  text-align: center;
	  visibility: visible;
	}
}
@media (min-width: 961px) and (max-width: 1000px) {
	.container {
	  width: 930px;
	}
	.partner-event {
	  max-width: 718px;
	  margin: 0px auto;
	}
	
}
@media (min-width: 768px) and (max-width: 960px) {	
	.header-nav li a {
		letter-spacing: 0;
		padding: 0 10px;
	}
	.menu-sidebar-container li a{padding:0 30px;}
	.pdp-btn-demo{		padding:10px 25px;	}
	.home-banner {	  padding: 110px 0 0;	}
	.banner-content h1 {
	  font-size: 40px;
	  line-height: 45px;
	}
	.home-banner .banner-content {
	  max-width: 590px;
	  top:20px;
	}
	.feature-content-right .feature-content-block {	  margin:-25px 0 0 3%	}
	.partner-overlay {	  width: 90%;	}
	.partner-section-2 .content-left, .partner-section-2 .content-right {	  padding: 25px;	}
	.partner-section-2 .content-left h2 {
	  font-size: 34px;
	  line-height: 45px;
	}
	.partner-section-2 .content-right li img {		  max-width: 50px;		}
	.partner-section-2 .content-right li {	  font-size: 22px;}
	.partner-feature.content-no-img li a {	  min-height: 200px;	}
	.partner-feature li .content-inner {	  min-height: 410px;	}
	.account-login .form-block {
	  margin-bottom: 30px;
	  min-height: 0;
	  padding-bottom: 30px;
	}
}
@media (max-width: 767px){ 
	/* .home-banner > img{display:none;}
	.home-banner{
		background-image: url("../images/home-banner-01.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height:auto;
		padding:90px 0;
	} */
	.account-login .form-block {
	  margin-bottom: 30px;
	  min-height: 0;
	  padding-bottom: 30px;
	}
	h2{font-size:24px;}
	.top-nav-partner li a {	  padding: 8px;	}
	.top-nav-partner > li {	  margin: 15px 0 20px 10px;	}
	.feature-content-right .feature-content-block {
	  margin: 20px 0 0;
	  max-width: 100%;
	  padding: 0 20px;
	}
	.partner-overlay {
	  bottom: 0;
	  left: 0;
	  padding:20px;
	  position: relative;
	  width: 100%;
	}
	.partner-overlay li a {
	  min-width: 210px;
	  text-align: center;
	}
	.partner-section-2 .content-left, .partner-section-2 .content-right {
	  padding: 20px;
	}
	
	.feature-content-right .feature-img-block {	  width: 100%;	}
	.form-block {	  padding: 0 20px;	}
	.pdp-header{padding-bottom:0; }
	.header-nav li a.menu-sidebar-right{padding:0 10px;}
	.subcribe-block{margin:35px 0 0 0;}
	.home-feature-special .home-feature-content li{		border-right:none;	}
	.home-feature-special .home-feature-content li:nth-child(n+3){border-bottom:1px solid #ddd;}
	.home-contact-request .bkg-border::after {
		bottom: -10px;
		left: 45%;
		padding: 0 10px;
		top: initial;
		right: initial;
		transform: none;
	}
	.home-contact-request .bkg-border {
		border-bottom: 1px solid #ffffff;
		border-right: medium none;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}
	.pdp-footer-bottom{text-align:center;}
	.pdp-footer-bottom ul {
		display: block;
	}
	.f-extra li:last-child{border-right:none;}
	.pdp-footer-bottom ul {text-align: center;}
	.pdp-toplinks li {
	  margin: 0 0 0 20px;
	}
	.header-nav-sidebar{	display:inline-block!important;	}
	.pdp-header .logo {	  margin: 0 0 20px;	}
	.pdp-footer-bottom .copy-right {
	  display: block;
	  margin: 5px 0;
	}
	.pdp-footer .f-title {
	  border-top: 1px solid #dddddd;
	  margin-bottom: 15px;
	  margin-top: 5px;
	  padding-top: 5px;
	}
	.pricing-top h2::before, .pricing-top h2::after {
	  width: 45%;
	}
	.pricing-tab-3 .pricing-content li {
	  text-align:center;
	}
}
@media (min-width: 480px) and (max-width: 640px) {
	.home-banner .banner-content {	  top: 0;	}
	.home-banner {		padding: 170px 0 0;	}
	.banner-content h1 {
	  font-size: 30px;
	  line-height: 40px;
	}
	.banner-content h3 {
	  font-size: 16px;
	  line-height: 30px;
	}
	.banner-content .pdp-btn {	  padding: 15px 20px;	}
	
}
@media (max-width: 480px){
	.page-title > h1 {	  font-size: 30px;	} 
	.popout-box .title {	  font-size: 24px;	}
	.feature-banner .popout-box {
	  max-width: 270px;
	  padding: 0 20px 20px;
	}
	.feature-banner .pdp-btn2 {
	  letter-spacing: 1px;
	  padding: 10px;
	}
	.partner-section-4 .partner-overlay {
	  bottom: 0;
	  position: relative;
	  width: 100%;
	}
	.partner-overlay > h2 {
	  font-size: 25px;
}
}
@media (max-width: 360px){ 
	.pricing-top h2::before, .pricing-top h2::after {
	  width: 35px;
	}
	.home-banner > img{display:none;}
	.home-banner .banner-content {
	  position: relative;
	  top: 0;
	}
	.banner-content h1 {
	  font-size: 30px;
	  line-height: 40px;
	}
	.banner-content .pdp-btn{text-align:center;}
	.alert-recent-update {
	  height: 55px;
	  line-height: normal;
	}
	.alert-recent-update .icon{float:left; margin-top:0;}
	.alert-recent-update .alert-content{display:table; padding: 10px 5px 0;}
	.alert-recent-update .icon i{line-height:50px;}
	.partner-section-2 .content-left h2 {
	  font-size: 34px;
	  line-height: 45px;
	}
	.partner-section-2 .content-right li img {
	  max-width: 30px;
	}
	.partner-section-2 .content-right li {
	  font-size: 18px;
	}
	.partner-section-top h2 {
	  font-size: 34px;
	}
	.pricing-top {
	  font-size: 18px;
	}
 }
@media (max-width: 320px){ 
	.pdp-toplinks li {	  margin: 0 0 0 13px;	}
	.pdp-btn-demo{padding:10px 20px;}
	.menu-sidebar-container {	  width: 275px;	}
	.f-title h5 {	  font-size: 17px;	}
	.account-login .pdp-btn {
	  padding: 15px 10px;
	}
	
}