html, body{height:100%;}
#pdpwrapper {
    height: 100%;
}
.document-page .pdp-btn{letter-spacing:0;}
.navbar-brand.logo {
  line-height: 0;
  height:60px;
  padding: 10px 0;
}
.navbar-brand > img {
  max-height: 100%;
}
#menu-toggle {
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	margin: 0 0 0 10px;
	padding: 0;
}
.topbar-right {
  height: 60px;
  padding-top: 10px;
}
.topbar-right .navbar-right {
  margin: 0;
}
.topbar-right .btn{height:40px;}
.topbar-right .navbar-nav > li > a{padding:10px; margin:0 10px; font-size:16px;}
.topbar-right .navbar-nav > li > a:hover{background:transparent;}
.login-modal {
  max-width: 350px;
}
#modal_login .modal-content {
  border: 5px solid #81c73d;
}
#modal_login .pdp-btn {
 width:100%;
}
.sidebar-main{
	background: #f5f5f5 none repeat scroll 0 0;
	bottom: 0;
	box-shadow: -3px 1px 9px -4px #ababab inset;
	/* left: 250px; */
	margin-left: -250px;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 60px;
	transition: all 0.5s ease 0s;
	width: 0;
	z-index: 1000;
	width:250px;
}
#wrapper-doc{margin-left:250px; margin-top: 60px; min-height:100%;  padding:0; background:#f5f5f5; transition: all 0.5s ease 0s;}
#wrapper-doc.expand{margin-left:0px; ;}
.page-content{ padding:30px 0;}
.topbar-doc {
  background: #fff;
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
  min-height:60px;
}
.page-header-topbar .navbar-form .form-group .form-control:focus, .page-header-topbar .navbar-form .form-group .form-control:active {
  transition: all 0.5s ease 0s;
  width: 350px;
}
.page-header-topbar .navbar-form .form-group .form-control {
  transition: all 0.5s ease 0s;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}