<!-- contact.html -->
<div class="header-container topbar-height">
	<div class="pull-right">
		<a href="#" class="acount-link"><i class="fa fa-sign-out"></i></i>search</a>		
	</div>
	<div class="notification">	
		<div ng-click="menuToggle()" id="tri-menu-mobile" class="show-collapsed visible-xs visible-sm pull-left pointer"><i class="fa fa-bars"></i> <span class="screen-reader-only ">Menu</span></div>
		<p class="icon-box mp_0"><i class="fa fa-volume-up"></i>Store <a href="#">Sign in</a></p>
	</div>
</div>