<div class="topbar-doc">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 topbar-left">
				<a href="#" class="navbar-brand logo"><img ng-src="assets/images/logo.svg" class="brand-logo" src="assets/images/logo.svg"></a>
				<a id="menu-toggle" href="#" class="navbar-brand toggle-nav text-green"><i class="fa fa-bars fa-lg"></i></a>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 topbar-right">
				<ul class="nav navbar-nav navbar-right">
					<li><a target="_blank" href="#" class="text-green">Store</a></li>
					<li>
						<button class="pdp-btn" type="button" data-target="#modal_login" data-toggle="modal">Sign in</button>
					</li>
				</ul>
				<!-- ngIf: currentPage != 'search' && currentPage != 'login' -->
				<form class="search navbar-form navbar-right search-nav-collapse ng-pristine ng-valid ng-scope" ng-submit="$event.preventDefault();header_search();" ng-if="currentPage != 'search' &amp;&amp; currentPage != 'login'" action="packtlib/search_results" method="get">
					<div class="form-group pull-right form-group-inline">
						<div class="input-group">
						  <input type="text" placeholder="Search the library..." value="" name="query" class="form-control">
						  <span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
						</div>
					</div>
				</form><!-- end ngIf: currentPage != 'search' && currentPage != 'login' -->
				<!-- ngIf: currentPage == 'search' -->
			</div>
		</div>
	</div>
</div>
<div aria-labelledby="modal_login" role="dialog" tabindex="-1" id="modal_login" class="modal fade in"  aria-hidden="false">
	<div role="document" class="modal-dialog login-modal">
		<div class="modal-content">
			<div class="modal-body login-form">
				<h2 id="myModalLabel" class="text-center">Sign In</h2>
				<form class="form-signin ng-pristine ng-valid" ng-submit="login()">
					<input type="email" placeholder="Email" id="exampleInputEmail1" class="form-control margin-bottom-20" name="email">
					<input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control margin-bottom-20" name="password">
					<div class="form-group">
						<a class="margin-bottom-20 text-green" target="_self" href="#">Forgotten Password?</a>
					</div>
					<input type="submit" value="Submit" class="pdp-btn">
				</form>
			</div>
			<div class="modal-footer text-center">
				<a class="text-green"  target="_self" href="#">Create a New Account</a>
			</div>
		</div>
	</div>
</div>
<script>

</script>