<div class="sidebar-content">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
    <li role="presentation"><a href="#bookmark" aria-controls="bookmark" role="tab" data-toggle="tab">Bookmark (0)</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="content">
		<form class="pdc-search ng-pristine ng-valid">
			<div class="form-group">
			  <div class="input-group">			
				<input type="text" ng-model="searchOrder" placeholder="Search" class="form-control ng-pristine ng-valid">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
			  </div>      
			</div>
		</form>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab">
				  <h4 class="panel-title">
					<a role="button" href="/content1">
						AngularJS UI Development
					</a>
				  </h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab">
				  <h4 class="panel-title">
					<a role="button">
						Preface
					</a>
				  </h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading1">
				  <h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
						 1: Content 1
					</a>
				  </h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
					<ul class="panel-body">
						<li><a href="#">Hello World</a></li>	
						<li><a href="#">Installing Node.js and NPM</a></li>	
						<li><a href="#">Managing client-side dependencies with Bower</a></li>	
						<li><a href="#">Testing the Hello World application</a></li>	
						<li><a href="#">Building the application</a></li>	
						<li><a href="#">Managing the source code with Git</a></li>	
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading2">
				  <h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
						 2: Content 2
					</a>
				  </h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
					<ul class="panel-body">
						<li><a href="#">Downloading AngularUI</a></li>	
						<li><a href="#">Building AngularUI-Utils</a></li>	
						<li><a href="#">uiMask directive</a></li>	
						<li><a href="#">Testing the Hello World application</a></li>	
						<li><a href="#">Building the application</a></li>	
						<li><a href="#">Managing the source code with Git</a></li>	
					</ul>
				</div>
			</div>
		  

		</div>
		
	</div>
    <div role="tabpanel" class="tab-pane" id="bookmark">
		Bookmark Content
	</div>
  </div>

</div>

