<div class="sidebar-content">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
    <li role="presentation"><a href="#bookmark" aria-controls="bookmark" role="tab" data-toggle="tab">Bookmark (0)</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="content">
		<form class="pdc-search ng-pristine ng-valid">
			<div class="form-group">
			  <div class="input-group">			
				<input type="text" ng-model="searchOrder" placeholder="Search" class="form-control ng-pristine ng-valid">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
			  </div>      
			</div>
		</form>
		<ul class="panel-group" id="accordion_book" role="tablist" aria-multiselectable="true">
			<li class="panel panel-default" ng-class="{active : activeMenu === 'AngularJS UI Development'}">
				<div class="panel-heading" role="tab">
					<h4 class="panel-title">
						<a role="button" href="#" ng-click="activeMenu = 'AngularJS UI Development'">
							AngularJS UI Development
						</a>
					</h4>
				</div>
			</li>
			<li class="panel panel-default" ng-class="{active : activeMenu === 'Preface'}">
				<div class="panel-heading" role="tab">
					<h4 class="panel-title">
						<a  href="#collapse2" ng-click="activeMenu = 'Preface'">
							Preface
						</a>
					</h4>
				</div>
			</li>
			<li class="panel panel-default"  ng-class="{active : activeMenu === '1: Content 1'}">
				<div class="panel-heading" role="tab" id="heading1">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion_book" href="#collapse1" aria-expanded="false" aria-controls="collapse1" ng-click="activeMenu = '1: Content 1'">
							 1: Content 1
						</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
					<ul class="panel-body">
						<li ng-class="{active : activeMenu === 'Hello World'}">
							<a href="#collapse2" ng-click="activeMenu = 'Hello World'">Hello World</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Installing Node.js and NPM'}">
							<a href="#collapse1" ng-click="activeMenu = 'Installing Node.js and NPM'">Installing Node.js and NPM</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Managing client-side dependencies with Bower'}">
							<a href="#collapse2" ng-click="activeMenu = 'Managing client-side dependencies with Bower'">Managing client-side dependencies with Bower</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Testing the Hello World application'}">
							<a href="#collapse1" ng-click="activeMenu = 'Testing the Hello World application'">Testing the Hello World application</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Building the application'}">
							<a href="#collapse2" ng-click="activeMenu = 'Building the application'">Building the application</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Managing the source code with Git'}">
							<a href="#collapse1" ng-click="activeMenu = 'Managing the source code with Git'">Managing the source code with Git</a>
						</li>	
					</ul>
				</div>
			</li>
			<li class="panel panel-default" ng-class="{active : activeMenu === '2: Content 2'}">
				<div class="panel-heading" role="tab" id="heading2">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion_book" href="#collapse2" aria-expanded="false" aria-controls="collapse2" ng-click="activeMenu = '2: Content 2'">
							 2: Content 2
						</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
					<ul class="panel-body">
						<li ng-class="{active : activeMenu === 'Downloading AngularUI'}">
							<a href="#collapse1" ng-click="activeMenu = 'Downloading AngularUI'">Downloading AngularUI</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Building AngularUI-Utils'}">
							<a href="#collapse2" ng-click="activeMenu = 'Building AngularUI-Utils'">Building AngularUI-Utils</a>
						</li>	
						<li ng-class="{active : activeMenu === 'uiMask directive'}">
							<a href="#collapse1" ng-click="activeMenu = 'uiMask directive'">uiMask directive</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Testing the Hello World application'}">
							<a href="#collapse2" ng-click="activeMenu = 'Testing the Hello World application'">Testing the Hello World application</a></li>	
						<li ng-class="{active : activeMenu === 'Building the application'}">
							<a href="#collapse1" ng-click="activeMenu = 'Building the application'">Building the application</a>
						</li>	
						<li ng-class="{active : activeMenu === 'Managing the source code with Git'}">
							<a href="#collapse2" ng-click="activeMenu = 'Managing the source code with Git'">Managing the source code with Git</a>
						</li>	
					</ul>
				</div>
			</li>
		  

		</ul>
		
	</div>
    <div role="tabpanel" class="tab-pane" id="bookmark">
		Bookmark Content
	</div>
  </div>

</div>

